<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Blog Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100 font-sans antialised">
    <!-- navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
      <div>
        <h1 class="text-3xl font-bold">AI Blog Generator</h1>
      </div>
      <div>
        <a href="#" class="text-white hover:underline">Logout</a>
      </div>
    </nav>

    <br />
    <!-- Main -->
    <div class="flex-grow container mx-auto mt-10 px-4 sm:px-0">
      <div
        class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 flex flex-col"
      >
        <!-- introduccion seccion -->
        <div class="text-center">
          <h2 class="text-2xl font-semibold mb-4">
            Bienvenido al Generador de Articulos de Youtube
          </h2>
          <p class="text-gray-700">
            Sitio dedica a generar transcripciones y articulos de videos de
            Youtube para postearlos en tu blog o en cualquier red social.
            Tambien para hacer resumenes de tus videos favoritos
          </p>
        </div>
        <br />
        <!-- Seccion de Youtube -->
        <div>
          <h2 class="text-xl mb-4 font-semibold">Inserta el link de Youtube</h2>
          <div class="flex space-x-4">
            <input
              class="flex-grow p-2 border border-blue-400 rounded-md"
              type="url"
              id="youtubeLink"
              placeholder="Pega aqui tu link..."
            />
            <button
              class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition-colors"
              id="generatedBlogButton"
            >
              Generar
            </button>
          </div>
        </div>
        <!-- generated blog display section -->
        <section class="mt-10 flex-grow">
          <h2 class="text-xl mb-4 font-semibold">Articulo de Blog Generado</h2>
          <div class="mt-2 text-gray-700 space-y-4" id="blogContent"></div>
        </section>
      </div>
    </div>
  </body>
</html>
